{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "useTabs": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
